data/mini_imagenet/*
!data/mini_imagenet/.gitkeep
data/cifar_fs/*
!data/cifar_fs/.gitkeep
data/tiered_imagenet/*
!data/tiered_imagenet/.gitkeep
data/CUB_200_2011/*
!data/CUB_200_2011/.gitkeep

runs/*
!runs/.gitkeep
result/*
!result/.gitkeep

.venv/
__pycache__/
*.pyc

*.png
*.log
tsne/

debug_run/
checkpoints/

# Model checkpoints and training outputs
*.pth
*.ckpt
